.schedule{
    position: absolute;
    background-color: #dde0df;
    border-radius: 5px;
    padding: 18px 15px 16px 18px;
    float: right;
    right: 0;
    display: none;
}
.schedule__time{
    font-size: 13px;
    color: rgb(30, 31, 32);
    font-weight: bold;
    font-style: normal;
}
.schedule__dinner{
    font-size: 13px;
    color: rgb(30, 31, 32);
    font-weight: normal;
    font-style: normal;
}